body{
    background-color: black;
    color: white;
}
html{
    scroll-behavior: smooth;
}
nav ul li{
    color: white;
    display:inline-block;
    padding-left: 200px;
    position: relative;
    margin: 0px 50px;
    list-style: none;
}
nav ul li a{
    font-size: 40px;
    text-decoration: none;
    color: white;
    border: none;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: rgb(42, 213, 130);
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.info{
    width: fit-content;
    height: fit-content;
    display:inline-block;
    margin-top: 90px;

}
.quote{
    border:solid;
    border: solid;
    border-radius: 10px;
    color: rgb(235, 236, 241);
    margin-top: -500px;
    margin-left: 650px;
    font-size: 70px;
}
.big{
    font-size: 90px;
}
.author{
    margin-top: 20px;
}
.Education{
    margin-top: 300px;
    font-size: 40px;
}
.heading{
    border: solid;
    margin-left: 40%;
    width: max-content;
    border-radius: 10px;
    height: max-content;
    box-shadow: 10px 4px red;
    background-color:rgb(26, 26, 162);
}
.edu-info{
    margin-top: -400px;
    font-size: 20px;
    margin-left: 700px;
}
.isro{
    font-size: 40px;
}
.isro-info{
    margin-top: -380px;
    font-size: 20px;
    margin-left: 800px;
}